<!-- Small boxes (Stat box) -->

@{
    ViewBag.Title = "Accueil FinesseGYM-GymLogic";
    int almostExpiredCount = ViewBag.almostExpiredCount;
    int suspendedAboCount = ViewBag.suspendedAboCount;
    int renewalsCount = ViewBag.renewalsCount;
    int abonnenemtsCount = ViewBag.abonnenemtsCount;
    int expiredCount = ViewBag.expiredCount;
}
@*<a href="@Url.Action("Create")" class="btn btn-primary ">
    <span class="fa fa-plus"></span> Nouveau compte utilisateur
</a>*@
<br /><br /><br />
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@almostExpiredCount</h3>
                <p>Abonnement presque Terminés</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="@Url.Action("Expiring","Abonnements")" class="small-box-footer">En savoir plus <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@((int)(((double)renewalsCount / abonnenemtsCount) * 100))<sup style="font-size: 20px">%</sup></h3>
                <p>Abonnements en cours</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="@Url.Action("Index","Abonnements")" class="small-box-footer">En savoir plus <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@suspendedAboCount</h3>
                <p>Abonnements Arrêtés</p>
            </div>
            <div class="icon">
                <i class="ion ion-stop"></i>
            </div>
            <a href="@Url.Action("Suspended","Abonnements")" class="small-box-footer">En savoir plus <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@expiredCount</h3>
                <p>Abonnements Terminés</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="@Url.Action("Expired","Abonnements")" class="small-box-footer">En savoir plus <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable ui-sortable"></section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable ui-sortable"></section>
    <!-- right col -->
</div>
<!-- /.row (main row) -->