@model Gymlogic.Models.Data.Discipline

@{
    ViewBag.Title = "Details-Discipline";
}

<div class="col-md-4 col-md-offset-2">
    <h4 class="box-title text-bold">Informations générales de la discipline</h4>
    <dl class="dl-horizontal">
        <dt>
            <label>Titulaire</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulaire.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
@*<div class="col-md-6">
    <h4 class="box-title text-bold">Abonnements en cours</h4>
    @if (Model.Abonnements.Any())
    {
        foreach (var abonnement in Model.Abonnements)
        {
            <p>Abonnement @(abonnement.Etat ? "en cours" : "suspendu") a @abonnement.Discipline.Name: @abonnement.NbJoursRestants jours restants sur @abonnement.NbJours</p>
        }
    }
    else
    {
        <small class="info"> <span class="text-danger">Aucun abonnement</span> enregistré pour cette discipline.</small>

    }
</div>*@
<div class="col-md-12 text-center">

    <a class="btn btn-default" href="@Url.Action("Edit", new { id = Model.ID })"><span class="fa fa-edit"> </span> Modifier</a>
    <a class="btn btn-primary" href="@Url.Action("Index")"><span class="fa fa-arrow-circle-left"> </span> Retour</a>
</div>
